# Data Types and Structures Questions

Q1.What are data structures, and why are they importants?

In [ ]:
"""
Data structures is way of organinzing and storing data so that it can be acessed
and updated efficiently.
They are important because they provide efficient way of storing and managing
data.
"""

'\nData structures is way of organinzing and storing data so that it can be acessed\nand updated efficiently.\nThey are important because they provide efficient way of storing and managing\ndata.\n'

Q2.  Explain the difference between mutable and immutable data types with examples?

In [ ]:
"""
Mutable data types are those whose values can be changed after they are created.
Examples of mutable data types in Python include lists, dictionaries, and sets.
Immutable data types are those whose values cannot be changed after they are
created.
Examples of immutable data types in Python include strings, numbers, and tuples.
"""

'\nMutable data types are those whose values can be changed after they are created.\nExamples of mutable data types in Python include lists, dictionaries, and sets.\nImmutable data types are those whose values cannot be changed after they are\ncreated.\nExamples of immutable data types in Python include strings, numbers, and tuples.\n'

Q3.P What are the main differences between lists and tuples in Python?

In [ ]:
"""
The main differences between lists and tuples in Python are:
Lists are mutable, while tuples are immutable.
Lists are defined using square brackets [], while tuples are defined using
parentheses ().
"""

'\nThe main differences between lists and tuples in Python are:\nLists are mutable, while tuples are immutable.\nLists are defined using square brackets [], while tuples are defined using\nparentheses ().\n'

Q4.Describe how dictionaries store data?

In [ ]:
"""
Dictionaries store data in the form of key-value pairs.
"""

'\nDictionaries store data in the form of key-value pairs.\n'

Q5.Why might you use a set instead of a list in Python?

In [ ]:
"""
set used instead of list because it does not allow duplicate values.
that means set have unique values.
"""

'\nset used instead of list because it does not allow duplicate values.\nthat means set have unique values.\n'

Q6.What is a string in Python, and how is it different from a list?

In [ ]:
"""
string is sequence of character and it is immutable.
it is different from list because it is sequence of character and it is
immutable.
"""

'\nstring is sequence of character and it is immutable.\nit is different from list because it is sequence of character and it is\nimmutable.\n'

Q7.How do tuples ensure data integrity in Python?

In [ ]:
"""
Tuples ensure data integrity in Python because they are immutable, which means
that once a tuple is created, its values cannot be changed.
"""

'\nTuples ensure data integrity in Python because they are immutable, which means\nthat once a tuple is created, its values cannot be changed.\n'

Q8.What is a hash table, and how does it relate to dictionaries in Python?

In [ ]:
"""
Hash table is a data structure that is used to store data in the form of
key-value pairs.
it is related to dictionaries in Python because dictionaries are implemented
using hash tables.

"""

'\nHash table is a data structure that is used to store data in the form of\nkey-value pairs.\nit is related to dictionaries in Python because dictionaries are implemented\nusing hash tables.\n\n'

Q9. Can lists contain different data types in Python?

In [ ]:
"""
Yes, lists can contain different data types in Python.
"""

'\nYes, lists can contain different data types in Python.\n'

Q10.P Explain why strings are immutable in Python?

In [ ]:
"""
strings are immutable in Python because once a string is created, its values
cannot be changed.
"""

'\nstrings are immutable in Python because once a string is created, its values\ncannot be changed.\n'

Q11.What advantages do dictionaries offer over lists for certain tasks?

In [ ]:
"""
Dictionaries are ideal for key-value association , data maping
thats why dictionaries are faster than lists.
"""

'\nDictionaries are ideal for key-value association , data maping \nthats why dictionaries are faster than lists.\n'

Q12. Describe a scenario where using a tuple would be preferable over a list?

In [ ]:
"""
A tuple would be preferable over a list where data mutability is required.
for example storing data of geographical cordinates that can't change after
the creation of data.
"""

"\nA tuple would be preferable over a list where data mutability is required.\nfor example storing data of geographical cordinates that can't change after\nthe creation of data.\n"

Q13. How do sets handle duplicate values in Python?

In [ ]:
"""
Sets handle duplicate values in Python by automatically removing any duplicate
values.
"""

'\nSets handle duplicate values in Python by automatically removing any duplicate\nvalues.\n'

Q14.How does the “in” keyword work differently for lists and dictionaries?

In [ ]:
"""
The 'in' keyword word work differntly for lists and dictionaries
for list-
'in' check the presence of specific value within the list.
for dictinaries-
'in' check the presence of specific key within the dictionary.
"""

"\nThe 'in' keyword word work differntly for lists and dictionaries\nfor list-\n'in' check the presence of specific value within the list.\nfor dictinaries-\n'in' check the presence of specific key within the dictionary.\n"

Q15. Can you modify the elements of a tuple? Explain why or why not?

In [ ]:
"""
No, you can't modify the elements of a tuple because tuples are immutable.
"""

"\nNo, you can't modify the elements of a tuple because tuples are immutable.\n"

Q16.What is a nested dictionary, and give an example of its use case?

In [ ]:
"""
Nested dictionary is a dictionary that contains another dictionary as a value.
for example storing a data of employees in a company, each employess has a
common name and id but also a specific details like salary, department, etc.

"""

'\nNested dictionary is a dictionary that contains another dictionary as a value.\nfor example storing a data of employees in a company, each employess has a \ncommon name and id but also a specific details like salary, department, etc.\n\n'

Q17. Describe the time complexity of accessing elements in a dictionary?

In [ ]:
"""
Time complexity of accessing element means that on average the time required to
required to retrieve a value using its key does not significantly increase with
the size of the dictionary.
"""

Q18.In what situations are lists preferred over dictionaries?

In [ ]:
"""
Lists are preferred over dictionaries when you have to store a data of mutable
that can be cahnge after creation that data or you have to store a any type of
data  in a ordered way which are  integer, float, boolean etc.
"""

'\nLists are preferred over dictionaries when you have to store a data of mutable \nthat can be cahnge after creation that data or you have to store a any type of \ndata  in a ordered way which are  integer, float, boolean etc.\n'

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?

In [ ]:
"""
Dictionaries are considered unordere because they don't sstored data in specific
sequence. they stored in key pair.
"""

"\nDictionaries are considered unordere because they don't sstored data in specific\nsequence. they stored in key pair.\n"

 Q20.Explain the difference between a list and a dictionary in terms of data retrieval?

In [ ]:
"""The difference between a list and a dictionary, in terms of data retrieval,
 that is indexing mechanisms.
 """

'The difference between a list and a dictionary, in terms of data retrieval,\n that is indexing mechanisms.\n '

# **Practical** **Questions**

Q1.Write a code to create a string with your name and print it.

In [1]:
name = "abhishek kumar"
print(name)

abhishek kumar

Q2.Write a code to find the length of the string "Hello World".

In [2]:
A = "Hello World"
print(len(A))

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
string = "Python Programming"
print(string[0:3])

Pyt

Q4.Write a code to convert the string "hello" to uppercase?

In [5]:
string = "hello"
string = string.upper()
print(string)

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
string = "I like apple"
string = string.replace("apple", "orange")
print(string)

I like orange

Q6.Write a code to create a list with numbers 1 to 5 and print it

In [7]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [38]:
# Original list
numbers = [1, 2, 3, 4, 5]

# Remove number 3
numbers.remove(3)

print("Updated List:", numbers)

Updated List: [1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [37]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

Q10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed List:", my_list)

Reversed List: [50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [14]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [15]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [16]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
my_tuple = ('dog', 'cat', 'rabbit')
animal = my_tuple.index('cat')
print(animal)

1

Q15.. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [18]:
my_tuple = ('apple', 'banana', 'orange')
fruits = 'kiwi' in my_tuple
print(fruits)

False

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
my_set = ('a', 'b', 'c')
print(my_set)

('a', 'b', 'c')

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [20]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Union of two set:", union_set)

Union of two set: {1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
set1= {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print("Intersection of two set:", intersection_set)

Intersection of two set: {2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
my_dict = {"name": "abhishek", "age": 20, "city": "lucknow"}
print(my_dict)

{'name': 'abhishek', 'age': 20, 'city': 'lucknow'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [27]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [28]:
person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print("Value of 'name':", name_value)

Value of 'name': Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [29]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [30]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
city_key = 'city' in my_dict
print(city_key)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'John', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 25}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [33]:
import random

# Generate list of 5 random numbers between 1 and 100
numbers = random.sample(range(1, 101), 5)

# Sort in ascending order
numbers.sort()

# Print result
print("Sorted List:", numbers)

Sorted List: [77, 80, 86, 98, 99]

Q28. Write a code to create a list with strings and print the element at the third index.

In [34]:
# Create a list with strings
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Access element at third index (indexing starts from 0)
element = fruits[3]

print("Element at third index:", element)

Element at third index: mango

Q29. Write a code to combine two dictionaries into one and print the result.

In [35]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine using update()
combined_dict = dict1.copy()   # make a copy so original dict1 is not changed
combined_dict.update(dict2)

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Write a code to convert a list of strings into a set.

In [36]:
# List of strings
fruits = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
fruits_set = set(fruits)

print("Original List:", fruits)
print("Converted Set:", fruits_set)

Original List: ['apple', 'banana', 'cherry', 'apple', 'banana']
Converted Set: {'cherry', 'apple', 'banana'}